@charset "UTF-8";


#secao-1 {
    padding-bottom: 5vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 3vh;
}

#secao-1 h2 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 5vw;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

#secao-1 p#saiba-mais {
    font-family: var(--corpo);
    font-size: 1.2vw;
    font-weight: 700;
}

#secao-1 a.butn {
    text-decoration: none;
    background-color: var(--cor-Principal);
    color: white;
    padding: 5px 5px;
    gap: 10px;
    width: 15vw;
    margin-top: 0.1vw;
    font-family: var(--chamadas);
    font-weight: 700;
    font-size: 1.7vw;
    border-radius: 6px;
    align-items: center;
    display: flex;
    border: 1px solid var(--bordas);
    transition: color 200ms;
    transition: background 200ms ease;
}

#secao-1 a.butn:hover {
    background-color: var(--hover);
    border: 1px solid var(--cor-Principal);
    color: rgba(255, 255, 255, 0.835);
}

#secao-1 div.foto-1 {
    display: none;
}

main h3 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 4vw;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

#images {
    width: 100%;
    margin-top: 3vh;
    object-fit: contain;
}

section.conteiner_carrousel {
    position: relative;
    margin: auto;
    margin-bottom: 5vh;
}

section.conteiner_carrousel h2 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 4vw;
    position: relative;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

/*Carrossel primeira página*/

.carrossel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 65vw;
    overflow: hidden;
    position: relative;
    border: 6px solid var(--cor-Principal);
    border-radius: 10px;
    
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    color: white;
    padding: 2vw;
    position: relative;
}

div.slide strong {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.372);
    color: var(--conteiners);
}

/* Fundos específicos */
div.slides #primeiro {
    background: url('/images/imgs/Cominucação.png') no-repeat center right/cover;
    z-index: 2;
}

div.slides #segundo {
    background: url('/images/imgs/Aprendizado.png') no-repeat center right/cover;
    z-index: 1;
}

div.slides #terceiro {
    background: url('/images/imgs/Organização.png') no-repeat center center/cover;
    z-index: 1;
}

div.slides #quarto {
    background: url('/images/imgs/Trabalho em  Equipe.png') no-repeat center center/cover;
    z-index: 1;
}

div.slides #quinto {
    background: url('/images/imgs/Pensamento Crítico.png') no-repeat center center/cover;
    z-index: 1;
}



/* Backdrop escuro para legibilidade */
.backdrop::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.651);
    z-index: 0;
}

.backdrop>* {
    position: relative;
    z-index: 1;
}

.botao {
    position: absolute;
    top: 55%;
    background-color: var(--cor-Principal);
    color: white;
    border: 1px solid white;
    padding: 1.6vw;
    transition: background-color 300ms ease, transform 100ms ease;
    cursor: pointer;
    border-radius: 6px;
    font-size: 2vw;
}

.botao.anterior {
    left: 1vw;
}

.botao.proximo {
    right: 1vw;
}

.botao:hover {
    background-color: var(--hover);
}

.botao:active {
    transform: scale(0.9);
}


@media (max-width: 800px) {

    #secao-2 p {
        font-size: 3vw;
    }

    #secao-2 h3 {
        font-size: 4.7vw;
    }

    .botao {
        padding: 3vw;
    }

    .slides {
        height: 20vw;
    }

    .slides p {
        font-size: 3vw;
    }

    .slide {
        height: 30vw;
        padding: 0 10px;
    }

    .carrossel {
        height: 20vw;
        width: 75%;
        padding: 0;
        border: 3px solid var(--cor-Principal);
    }

    .botao {
        top: 50%;
    }
}
