@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
    - Títulos (H1, H2, etc.): Montserrat Bold (Peso 700 ou 800).
    - Subtítulos: Montserrat Medium (Peso 500).
    - Texto do Corpo: Roboto Regular (Peso 400).
    - Botões ou Chamadas para Ação: Poppins SemiBold (Peso 600).
*/

/* Variáveis CSS */

:root {
    --fundo: #101920;
    --cor-Principal: #608BDA;
    --bordas: #7AA0E7;
    --conteiners: #98BCFF;
    --hover: #43639D;
    --titulos: "Montserrat", serif;
    --corpo: "Roboto", sans-serif;
    --chamadas: "Poppins", sans-serif;
}

/* Estilizações gerais da página*/

* {
    padding: 0;
    margin: 0;
}

html,
body {
    overflow-x: hidden;
    max-width: 100vw;
    color: white;
    background-color: var(--fundo);
}

/* Header */

h1 {
    font-family: var(--titulos);
    font-weight: 800;
}

h2 {
    font-family: var(--titulos);
    font-weight: 700;
}

header {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 25px;
    height: 60px;
    background-color: var(--cor-Principal);
}

header>div.desktop {
    display: flex;
    align-items: center;
    width: 100%;
}

header>div.mobile {
    display: none;
}

/* Mobile */

@media (max-width: 800px) {
    header>div.desktop {
        display: none;
    }

    header {
        height: 4vh;
        bottom: 10px;
    }

    header>div.mobile {
        display: block;
    }

    .menu-toggle {
        position: absolute;
        top: 15px;
        left: 10x;
        background: var(--fundo);
        color: var(--conteiners);
        border: 1px solid var(--bordas);
        padding: 5px 15px;
        border-radius: 6px;
        cursor: pointer;
        z-index: 1000;
        font-family: var(--chamadas);
        font-size: 2em;
        transition: color 300ms ease, background-color 300ms ease;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-toggle p {
        transition: transform 300ms ease;
        display: block;
        text-align: center;
    }

    .menu-toggle:hover {
        background-color: black;
        color: white;
    }

    .menu-toggle.ativo p {
        transform: rotate(90deg);
        transform-origin: center;
    }

    .menu {
        position: absolute;
        top: -100vh;
        width: 100%;
        height: 50px;
        left: 48vw;
        background: var(--conteiners);
        color: white;
        padding-top: 80px;
        z-index: 900;
        transition: top 0.3s ease;
        text-align: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .menu a {
        display: block;
        color: white;
        background-color: var(--bordas);
        text-decoration: none;
        padding: 15px;
        border: 1px solid var(--bordas);
    }

    .menu a:hover {
        background: var(--hover);
    }

    .menu.open {
        top: 0;
    }

    main {
        padding: 20px !important;
        margin-top: 10px !important;
    }

    main article section#secao-1 {
        padding-bottom: 3vh !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.50);
        margin-bottom: 3vh;
    }

    main article section#secao-1 h2 {
        font-size: 6vw !important;
    }

    main article section#secao-1 p {
        font-size: 2.6vw !important;
        text-align: justify;
    }

    main article section#secao-1 p strong {
        font-weight: 800;
        color: var(--cor-Principal);
    }

    main article section#secao-1 p#saiba-mais {
        font-family: var(--corpo);
        font-size: 2vw !important;
        font-weight: 700;
    }

    main article section#secao-1 a.butn {
        font-size: 2.3vw !important;
        width: 25vw !important;
        padding: 2px 5px !important;
    }

    #sobre {
        width: 7vw !important;
    }

    footer div#primeiro p {
        font-size: 3.2vw;
    }

    footer div#titulo {
        width: auto;
    }

    footer div#segundo {
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
        padding: 5vw;
    }

    footer div#segundo h1 {
        font-size: 6vw;
    }

    footer div#links a {
        font-size: 3vw !important;
    }

}

/* Navegação Principal */

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: var(--conteiners);
    border-radius: 6px;
    padding: 3px;
    margin: 1vw;
}

nav a {
    font-family: var(--chamadas);
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    gap: 5px;
    padding: 8px;
    margin: -3px 5px -3px -5px;
    background-color: transparent;
    transition: color 200ms;
}

header nav a.ativo {
    pointer-events: none;
    background-color: var(--hover);
    color: white;

}

#sobre {
    width: 4vw;
}

nav a:hover {
    background-color: var(--hover);
    color: white;
    transition: background-color 300ms;
}

nav a:first-child {
    border-radius: 6px 0px 0px 6px;
}

nav a:last-child {
    border-radius: 0px 6px 6px 0px;
    padding-right: 6;
    margin-right: -3px;
}

nav #borda::before {
    position: relative;
    content: "";
    height: 120%;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.689);
    width: 0.4px;
    box-sizing: border-box;
}

/* Conteúdo Principal */

main {
    position: relative;
    margin: auto;
    padding: 8vw;
    padding-top: 4vh;
    margin-top: 4vh;
}

main article section#secao-1 {
    padding-bottom: 5vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 3vh;
}

main article section#secao-1 h2 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 5vw;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

main article section p {
    font-family: var(--corpo);
    margin-top: 2vh;
    font-size: 2vw;
    text-align: justify;
}

main strong {
    font-weight: 800;
    color: var(--cor-Principal);
}

main article section#secao-1 p#saiba-mais {
    font-family: var(--corpo);
    font-size: 1.2vw;
    font-weight: 700;
}

main article section#secao-1 a.butn {
    text-decoration: none;
    background-color: var(--cor-Principal);
    color: white;
    padding: 5px 5px;
    gap: 10px;
    width: 15vw;
    margin-top: 0.1vw;
    font-family: var(--chamadas);
    font-weight: 700;
    font-size: 1.7vw;
    border-radius: 6px;
    align-items: center;
    display: flex;
    border: 1px solid var(--bordas);
    transition: color 200ms;
    transition: background 200ms;
}

main article section#secao-1 a.butn:hover {
    background-color: var(--hover);
    border: 1px solid var(--cor-Principal);
    color: rgba(255, 255, 255, 0.835);
}

main article section#secao-1 div.foto-1 {
    width: 100%;
    height: 25vw;
    background-color: var(--conteiners);
    margin-top: 4vh;
    border-radius: 6px;
    border: 1px solid var(--bordas);
}

main h3 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 4vw;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

#images {
    width: 100%;
    margin-top: 3vh;
    object-fit: contain;
}

section.conteiner_carrousel {
    position: relative;
    margin: auto;
    margin-bottom: 5vh;
}

section.conteiner_carrousel h2 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 4vw;
    position: relative;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

/*Carrossel primeira página*/

.carrossel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 65vw;
    overflow: hidden;
    position: relative;
    border: 6px solid var(--cor-Principal);
    border-radius: 10px
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 15vw;

}

div.slide#primeiro {
    background: url('/images/imgs/Communication.png') no-repeat center right/cover;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    color: white;
    padding: 3vw;
}

.botao {
    position: absolute;
    top: 55%;
    background-color: var(--cor-Principal);
    color: white;
    border: 1px solid white;
    padding: 1.6vw;
    transition: background-color 300ms ease, transform 100ms ease;
    cursor: pointer;
    border-radius: 6px;
    font-size: 2vw;
}

.botao.anterior {
    left: 1vw;
}

.botao.proximo {
    right: 1vw;
}

.botao:hover {
    background-color: var(--hover);
}

.botao:active {
    transform: scale(0.9);
}

@media (max-width: 800px) {
    .botao {
        padding: 3vw;
    }

    .slides {
        height: 20vw;
    }

    .slide {
        height: 30vw;
        padding: 0 10px;
    }

    .carrossel {
        height: 15vw;
        padding: 0;
        border: 3px solid var(--cor-Principal);
    }

    .botao {
        top: 50%;
    }
}

/* Sobre mim */

.aboutSecao-1 {
    display: flex;
    flex: 1;
}

.aboutDiv-1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.aboutDiv-1 p {
    display: inline-block;
    font-size: 1.4vw;
}

.aboutDiv-2 h1 {
    font-size: 6.5vw;
    color: var(--cor-Principal);
}

.aboutDiv-2 nav {
    display: flex;
    position: relative;
    top: -30px;
    padding: 0;
}

.aboutDiv-2 nav ul {
    display: flex;
    gap: 10px;
    position: absolute;
}

#subtitulo {
    font-family: var(--chamadas);
    display: inline-block;
    bottom: 30px;
    position: relative;
    font-size: 2.3vw;
    font-weight: 700;
}

.aboutDiv-2 p {
    font-family: var(--corpo);
    font-size: 2vw;
    text-align: justify;
    line-height: 1.5;
    color: white;
}

.aboutDiv-2 nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.aboutDiv-2 nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    border-radius: 6px;
    border: 1px solid var(--bordas);
    padding: 0.5vw 0;
    gap: 10px;
    background-color: white;
    text-decoration: none;
    color: black;
    font-size: 2vw;
    font-family: var(--chamadas);
    font-weight: 700;
    transition: background-color 300ms ease, transform 100ms ease;
}

.aboutDiv-2 nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.767);
}

.aboutDiv-2 nav ul li a:active {
    transform: scale(0.9);
}

.aboutDiv-2 nav ul li a img {
    width: 3vw;
}

.aboutDiv-2>p#texto {
    display: block;
    margin-top: 3vw;
}

article section.aboutSecao-2 {
    margin-top: 3vw;
    padding-top: 20px;
}

article section.aboutSecao-2 h2 {
    font-size: 5vw;
    text-align: center;
    color: var(--cor-Principal);
}

article section.aboutSecao-2 h3 {
    font-size: 3vw;
    margin-top: 15px;
    text-align: left;
    color: var(--cor-Principal);
    margin-bottom: 2vw;
}

article section.aboutSecao-2 p {
    font-size: 2vw;
    text-align: justify;
    line-height: 1.5;
    color: white;
}

article section.aboutSecao-2 a {
    color: white;
    text-decoration: none;
    transition: color 100ms ease;
    font-weight: 800;
}

article section.aboutSecao-2 a:hover {
    color: var(--cor-Principal);
}

article section.aboutSecao-2 button {
    background-color: var(--cor-Principal);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5vw;
    cursor: pointer;
    border: 1px solid white;
    transition: background-color 300ms ease, transform 100ms ease, border 300ms ease;
    margin-top: 1vw;
    font-family: var(--chamadas);
    font-weight: 700;
    margin-bottom: 1vw;
}

article section.aboutSecao-2 button:hover {
    background-color: white;
    color: var(--cor-Principal);
    border: 1px solid var(--cor-Principal);
}

article section.aboutSecao-2 button:active {
    transform: scale(0.9);
}


@media (max-width: 1200px) {
    .aboutSecao-1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutDiv-1 p {
        font-size: 3vw;
    }

    .aboutDiv-2 h1 {
        font-size: 10vw;
        padding-bottom: 10px;
        text-align: center;
    }

    .aboutDiv-2 p {
        font-size: 3vw;
        padding: 3vw 0px;
    }

    #subtitulo {
        font-size: 3vw;
        text-align: center;
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .aboutDiv-2 nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vw;
        background-color: transparent;
    }

    .aboutDiv-2 nav ul li a {
        width: 25vw;
        font-size: 3vw;
    }

    .aboutDiv-2 nav ul li a img {
        width: 4vw;
    }
}

/* Mosaico de fotos */

.mosaic {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.mosaic a {
    display: block;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.mosaic a:hover {
    transform: scale(1.05);
}

.mosaic img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Rodapé */

footer div#primeiro {
    padding: 30px;
    text-align: center !important;
    background-color: #232323;
    font-family: var(--corpo);
    font-weight: 700;
    font-size: 2.3vw;
    border-bottom: 2px solid var(--bordas);
}

footer div#primeiro a {
    color: var(--cor-Principal);
    text-decoration: none;
    font-weight: 800;
    transition: color 300ms;
}

footer div#primeiro a:hover {
    color: white;
}

footer div#segundo {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--cor-Principal);
}

footer h1 {
    font-family: var(--titulos);
    font-size: 3vw;
    font-weight: 700;
    width: 150px;
}

footer div#segundo a {
    color: white;
    font-family: var(--chamadas);
    text-decoration: none;
    font-weight: 700;
    margin: 5px;
    font-size: 2vw;
    transition: color 200ms;
}

footer div#segundo a:hover {
    color: rgba(255, 255, 255, 0.67);
}

footer #titulo,
footer #redes {
    text-align: center;
    width: 250px;
}