@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
    - Títulos (H1, H2, etc.): Montserrat Bold (Peso 700 ou 800).
    - Subtítulos: Montserrat Medium (Peso 500).
    - Texto do Corpo: Roboto Regular (Peso 400).
    - Botões ou Chamadas para Ação: Poppins SemiBold (Peso 600).
*/

/* Variáveis CSS */

:root {
    --fundo: #101920;
    --cor-Principal: #608BDA;
    --bordas: #7AA0E7;
    --conteiners: #98BCFF;
    --hover: #43639D;
    --titulos: "Montserrat", serif;
    --corpo: "Roboto", sans-serif;
    --chamadas: "Poppins", sans-serif;
}

/* Estilizações gerais da página*/

* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    background-color: var(--fundo);
}

/* Header */

header h1{
    font-family: var(--titulos);
    font-weight: 800;
}

header {
    display: flex;
    align-items: center;
    justify-content: start; 
    position: relative;
    padding: 25px;
    height: 60px;
    background-color: var(--cor-Principal);
}

header > div.desktop {
    display: flex;
    align-items: center;
    width: 100%;
}

header > div.mobile {
    display: none;
}

/* Mobile */

@media (max-width: 800px) {
    header > div.desktop {
        display: none;
    }

    header {
        height: 4vh;
    }

    header > div.mobile {
        display: block;
    }

    .menu-toggle {
        position: fixed;
        top: 1vh;
        left: 15px;
        background: var(--fundo);
        color: var(--conteiners);
        border: 1px solid var(--bordas);
        padding: 1vw 2vh;
        border-radius: 6px;
        cursor: pointer;
        z-index: 1000;
        font-family: var(--chamadas);
        font-size: 2em;
        transition: color 300ms ease, background-color 300ms ease;
        line-height: 50px;
    }

    .menu-toggle p {
        transition: transform 300ms ease;
    }

    .menu-toggle:hover {
        background-color: black;
        color: white;
    }

    .menu-toggle.ativo p {
        transform: rotate(90deg);
    }

    .menu {
        position: fixed;
        top: -100vh;
        width: 100%;
        height: 50px;
        background: var(--conteiners);
        color: white;
        padding-top: 80px;
        z-index: 900;
        transition: top 0.3s ease;
        text-align: center;
        justify-content: center;
        padding-bottom: 10px;
    }

    .menu a {
        display: block;
        color: white;
        background-color: var(--bordas);
        text-decoration: none;
        padding: 15px;
        border: 1px solid var(--bordas);
    }

    .menu a:hover {
        background: var(--hover);
    }

    .menu.open {
        top: 0;
    }

    main {
        padding: 20px !important;
        margin-top: 10px !important; 
    }

    main article section#secao-1 {
        padding-bottom: 3vh !important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.50);
        margin-bottom: 3vh;
    }
    
    main article section#secao-1 h2 {
        font-size: 6vw !important;
    }
    
    main article section#secao-1 p {
        font-size: 2.6vw !important;
        text-align: justify;
    }
    
    main article section#secao-1 p strong {
        font-weight: 800;
        color: var(--cor-Principal);
    }
    
    main article section#secao-1 p#saiba-mais {
        font-family: var(--corpo);
        font-size: 2vw !important;
        font-weight: 700;
    }

    main article section#secao-1 a.butn {
        font-size: 2.3vw !important;
        width: 25vw !important;
        padding: 2px 5px !important;
    }

    #sobre {
        width: 7vw !important;
    }

    footer div#primeiro p {
        font-size: 3.2vw;
    }

    footer div#titulo {
        width: auto;
    }

    footer div#segundo {
        flex-direction: column;
        align-items: center;
        row-gap: 1vh;
        padding: 5vw;
    }

    footer div#segundo h1 {
        font-size: 6vw;
    }

    footer div#links a {
        font-size: 3vw !important;
    }
    
}

/* Navegação Principal */

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background-color: var(--conteiners);
    border-radius: 6px;
    padding: 3px;
}

nav a {
    font-family: var(--chamadas);
    font-weight: 600;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 16px;
    gap: 5px;
    padding: 8px;
    margin: -3px 5px -3px -5px;
    background-color: transparent;
    transition: color 200ms;
}

#sobre {
    width: 4vw;
}

nav a:hover {
    background-color: var(--hover);
    color: white;
    transition: background-color 300ms;
}

nav a:first-child {
    border-radius: 6px 0px 0px 6px;
}

nav a:last-child {
    border-radius: 0px 6px 6px 0px;
    padding-right: 6;
    margin-right: -3px;
}

nav #borda::before {
    position: relative;
    content: "";
    height: 120%;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.689);
    width: 0.4px;
    box-sizing: border-box;
}

/* Conteúdo Principal */

main {
    position: relative;
    margin: auto;
    padding: 8vw;
    padding-top: 4vh;
    margin-top: 4vh;
}

main article section#secao-1 {
    padding-bottom: 5vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    margin-bottom: 3vh;
}

main article section#secao-1 h2 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 5vw;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

main article section#secao-1 p {
    font-family: var(--corpo);
    margin-top: 2vh;
    font-size: 2vw;
    text-align: justify;
}

main article section#secao-1 p strong {
    font-weight: 800;
    color: var(--cor-Principal);
}

main article section#secao-1 p#saiba-mais {
    font-family: var(--corpo);
    font-size: 1.2vw;
    font-weight: 700;
}

main article section#secao-1 a.butn {
    text-decoration: none;
    background-color: var(--cor-Principal);
    color: white;
    padding: 5px 5px;
    gap: 10px;
    width: 15vw;
    margin-top: 0.1vw;
    font-family: var(--chamadas);
    font-weight: 700;
    font-size: 1.7vw;
    border-radius: 6px;
    align-items: center;
    display: flex;
    border: 1px solid var(--bordas);
    transition: color 200ms;
    transition: background 200ms;
}
main article section#secao-1 a.butn:hover {
    background-color: var(--hover);
    border: 1px solid var(--cor-Principal);
    color: rgba(255, 255, 255, 0.835);
}

main article section#secao-1 div.foto-1 {
    width: 100%;
    height: 25vw;
    background-color: var(--conteiners);
    margin-top: 4vh;
    border-radius: 6px;
    border: 1px solid var(--bordas);
}

main article section#secao-2 h3 {
    font-family: var(--titulos);
    font-weight: 800;
    color: var(--cor-Principal);
    font-size: 4vw;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.372);
}

/* Rodapé */

footer div#primeiro {
    padding: 30px;
    text-align: center;
    background-color: #232323;
    font-family: var(--corpo);
    font-weight: 700;
    font-size: 2.3vw;
    border-bottom: 2px solid var(--bordas);
}

footer div#primeiro a {
    color: var(--cor-Principal);
    text-decoration: none;
    font-weight: 800;
    transition: color 300ms;
}

footer div#primeiro a:hover {
    color: white;
}

footer div#segundo {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: var(--cor-Principal);
}

footer h1 {
    font-family: var(--titulos);
    font-size: 3vw;
    font-weight: 700;
    width: 150px;
}

footer div#segundo a {
    color: white;
    font-family: var(--chamadas);
    text-decoration: none;
    font-weight: 700;
    margin: 5px;
    font-size: 2vw;
    transition: color 200ms;
}

footer div#segundo a:hover {
    color: rgba(255, 255, 255, 0.67);
}

footer #titulo, footer #redes {
    text-align: center;
    width: 250px;
}

